.container.common-container
  %h1 About Hamstermom
  %p
    Hamstermom is a webcomic by Melissa. Check out other projects I'm involved in
    %a{href: 'http://melizzap.github.io', title: 'here'} here
