<h1>Hamstermom Home Page</h1>
<br/>
<% if @comic[:comic_img] %>
  <%= image_tag @comic[:comic_img].url %>
<% end %>
<br />
<% if current_admin %>
  <%= link_to 'Add Comic!!!!!', new_comic_path %> |
  <%= link_to "Edit", edit_comic_path(@comic.id) %> |
  <%= link_to "Delete", @comic, method: :delete %>
  <br /> <br />
<% end %> 

