<h1>Hamstermom Home Page</h1>
<h3><%= link_to "Archive", comics_path %> |
  <%= link_to "About", about_path %> | 
  <%= link_to "Contact", contact_path %> |
  <%= link_to "Other Comics I Enjoy", othercomics_path %> 
</h3>