.container.common-container
  .title Here's a list of other comics I enjoy
  %ul
    %li
      %a{:href => "http://www.pbfcomics.com/"} The Perry Bible Fellowship
    %li
      %a{:href => "http://buttersafe.com/"} Buttersafe
    %li
      %a{:href => "http://hyperboleandahalf.blogspot.com/"} Hyperbole and a Half
    %li
      %a{:href => "http://xkcd.com/"} xkcd
    %li
      %a{:href => "http://www.exocomics.com/"} extra ordinary
