body {
  background: $background;
  font-family: $defont;
  margin: 0 auto;
  text-color: $text-color;
  width: auto;

  .notifications {
    display: inline;
    float: right;
    padding: 10px 10px 0 0;
  }

  .site-nav {
    background: $background;
    border: $container-border 2px solid;
    margin-top: 30px;
    width: 300px;
  }
}


a {
  color: $a-color;
  display: inline;
  margin: 10px;
}

a:visited,
a:hover {
  color: $a-visited-color;
}

.sign-in {
  a {
    display: none;
  }
}
