.comic-container {
  background: $container-background;
  border: $container-border 8px solid;
  border-radius: $comic-container-border-radius;
  font-size: $medium;
  margin: 30px 0;
  width: 75%;

  .comic-title {
    font-size: $medium;
    margin: -15px 0;
  }

  .comic-nav-links,
  .admin-links {
    margin: 10px;
  }

  a {
    border-radius: 6px;
    color: $a-color-comic-pane;
    margin: 0 4px;
    padding: 1.5px 12px;
  }

  img {
    border-radius: $comic-image-border-radius;
    height: auto;
    width: 100%;
  }
}
