.nav-foot {
  background-color: $container-background;
  border: $container-border 8px solid;
  border-radius: $comic-container-border-radius;
  font-size: $medium;
  margin-bottom: 10px;
  width: 75%;

  .row {
    margin: 10px 0;
  }

  a {
    border-radius: 6px;
    color: $a-navigation-color;
    padding: 0 10px;
  }

  a:hover {
    background-color: $a-navigation-color;
    color: $background;
  }
}
