@import url(https://fonts.googleapis.com/css?family=Amatic+SC:400,700);

// Fonts
$defont: 'Amatic SC', cursive;

// Font Size
$large: 3em;
$medium: 2.5em;

// Colors
$container-background: #f7e0c6;
$background: #87de9d;
$container-border: #b05e00;

$comic-container-border-radius: 15px;
$comic-image-border-radius: 20px;
