@import url(https://fonts.googleapis.com/css?family=Amatic+SC:400,700);

// Fonts
$defont: 'Amatic SC', cursive;
$other-font: Georgia, Helvetica, sans-serif;

// Font Size
$large: 3em;
$medium: 2.5em;
$smedium: 1.5em;
$small: 1em;
$lil: .5em;

// Colors
$container-background: #ffefd5;
$background: #00c87b;
$container-border: #b05e00;
$text-color: #4c004c;
$a-color: #8a2be2;
$a-color-comic-pane: #8b4513;
$a-visited-color: #4b0082;
$a-hover-color: #4b0082;
$a-navigation-back-color: #00c87b;
$a-navigation-color: #7a007a;

// Border Radius
$comic-container-border-radius: 15px;
$comic-image-border-radius: 20px;
