// Dependencies
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import "bourbon";

@font-face {
  font-family: 'amatic';
  src:font-url('icomoon.eot');
  src:url('icomoon.eot?#iefix') format('embedded-opentype'),
    url('icomoon.svg#icomoon') format('svg'),
    url('icomoon.woff') format('woff'),
    url('icomoon.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  background: #87DE9D;
  width: auto;
  margin: 0 auto;

  .notifications {
    display: inline;
    float: right;
    padding: 10px 10px 0 0;
  }

  .site-nav {
    border: #E07C10 2px solid;
    width: 300px;
    margin-top: 30px;
    background: #F0CEB1;

    a {
      display: inline;
      margin: 10px 10px;
    }
  }
}
